<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_hospital_root"
              name="Hospital"
              sequence="0"/>

    <menuitem id="menu_patient_master"
              name="Patient Details"
              parent="menu_hospital_root"
              sequence="0"/>

    <menuitem id="menu_patient"
              name="Patient"
              parent="menu_patient_master"
              sequence="0"/>

</odoo>