<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_university_root"
              name="University"
              web_icon="om_university,static/description/icon.png"
              sequence="0"/>

    <menuitem id="menu_student_master"
              name="Student Details"
              parent="menu_university_root"
              sequence="0"/>

    <menuitem id="menu_universities_master"
              name="Universities Details"
              parent="menu_university_root"
              sequence="2"/>


</odoo>